<h1>Flop Voter</h1>
{{selectedIndex}}
<div style="display: flex; flex-wrap: wrap;">
  <div style="margin: 25px">
    <p [hidden]="!isSelected(0)">Chosen!</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtnEsVYIk2NajIg8AawdRUVes5RxWsxypZ8_5TvremDxlMRpTPoJSC3wgQHYs5Cis9g_s&usqp=CAU" >
    <br>
    <button [disabled]="anySelected() && !isSelected(0)" (click)="onVoteClick(0)">
      {{getButtonText(0)}}
    </button>
  </div>

  <div style="margin: 25px">
    <p [hidden]="!isSelected(1)">Chosen!</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtnEsVYIk2NajIg8AawdRUVes5RxWsxypZ8_5TvremDxlMRpTPoJSC3wgQHYs5Cis9g_s&usqp=CAU" >
    <br>
    <button [disabled]="anySelected() && !isSelected(1)" (click)="onVoteClick(1)">
      {{getButtonText(1)}}
    </button>
  </div>

  <div style="margin: 25px">
    <p [hidden]="!isSelected(2)">Chosen!</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtnEsVYIk2NajIg8AawdRUVes5RxWsxypZ8_5TvremDxlMRpTPoJSC3wgQHYs5Cis9g_s&usqp=CAU" >
    <br>
    <button [disabled]="anySelected() && !isSelected(2)" (click)="onVoteClick(2)">
      {{getButtonText(2)}}
    </button>
  </div>

  <div style="margin: 25px">
    <p [hidden]="!isSelected(3)">Chosen!</p>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtnEsVYIk2NajIg8AawdRUVes5RxWsxypZ8_5TvremDxlMRpTPoJSC3wgQHYs5Cis9g_s&usqp=CAU" >
    <br>
    <button [disabled]="anySelected() && !isSelected(3)" (click)="onVoteClick(3)">
      {{getButtonText(3)}}
    </button>
  </div>
</div>